html, body {
    font-family: 'Raleway', sans-serif !important;
}

.body-bg-color {
    background-color:#2c2f33;
}

.navbar-bg-color {
    background-color: #23272A;
}

.txt-primary {
    color: #E0E0E0 !important;
}

.txt-primary-link {
    color: #E0E0E0 !important;
}

.txt-primary-link:hover {
    color: #FFFFFF !important;
}

.txt-secondary {
    color: #7289DA !important;
}

.txt-secondary-link {
    color: #7289DA !important;
}

.txt-secondary-link:hover {
    color: #869adf !important;
    text-decoration: none;
}

.bg-color {
    background-color: #7289DA !important;
}

.panel {
    background-color: #23272A !important;
    border-color: #FFFFFF !important;
    color: #E0E0E0;
}

.panel-heading {
    background-color: #23272A !important;
    border: 1 !important;
}

.head {
    font-family: 'Raleway', sans-serif !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(0,0,0,0) !important;
  color: #FFFFFF !important;
}

.dropdown-toggle:hover {
    color: #FFFFFF !important;
}

.inline {
    margin-left:-32px !important;
}

.txt-color {
    font-weight:300;
}