@import "../../stylesheets/mixins";
@import "../../stylesheets/variables";

.signin-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    display: block;
    margin: 100px 0;
    text-align: center;
    color: #4EADFF;
  }
  .content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: 400px;
    flex-direction: column;
    .links{
      width:100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
